html {
  // font-size: 12px !important;
  // font-family: "Roboto", sans-serif;
}

body {
  // background: #333;
  // background: var(--bg-main);
  // color: #eee;
  // overflow: hidden;
}

* {
  user-select: none;
}

*:focus {
  outline: none;
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    z-index: 1000;
  }
  &::-webkit-scrollbar-thumb {
    height: 9px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(196, 196, 196, 0.6);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.window {
  width: 100vw;
  height: 100vh;
}

.watcher_list_wrapper {
  background: aqua;
}

textarea {
  field-sizing: content;
}
